html,
body {
  font-size: 16px;
  letter-spacing: 0.0025rem;
  word-spacing: 0.0rem;

  height: 100%;
  max-width: 100vw;
}

body {
  background-color: #f4f4f4;
  overflow-x: hidden;
}

html,
body,
a,
h1,
h2,
h3,
h4,
h5,
p,
span,
.reading h4.viewed {
  font-family: Trebuchet MS, Tahoma, Helvetica, sans-serif;
}

/*** DEFAULTS ***/
#outer.wrapper {
  position:fixed;
  top:0;
  left:0;
  right:0;
  bottom:0;
  padding:0;
  margin:0;

  overflow: auto;
  box-sizing: border-box;
}

a, a:link {
  border: none;
  text-decoration: underline;
}

a:visited {
  color: inherit;
}

.notice, 
.comment_notice, 
.kudos_notice, 
ul.notes, 
.caution, 
.error, 
.comment_error, 
.kudos_error, 
.alert.flash {
  box-shadow: none;
  padding: 0.5rem 0.75rem;
}

.actions li a,
.actions li input,
.actions li input[type="submit"],
.actions li .current,
.actions li label {
  margin: 0 auto;
}

dl.stats dd {
  white-space: wrap;
}

textarea {
  box-sizing: border-box;
  clear: unset;
  margin: 0;

  padding: 1rem;
}

/* help icon */
a.modal.help,
.heading a.question {
  display: inline-flex;

  cursor: help;
  font-size: 0.75rem;
  line-height: 1;
}

span.symbol.help {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  margin: 0 0 0 0.25rem;

  width: 1rem;
  height: 1rem;
}

span.symbol span {
  box-sizing: border-box;
  padding: .1rem .3rem;
}

span.question {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  box-shadow: none;
  margin: 0 0 0 0.25rem;
}

li .disabled {
  display: none;
}

h2.heading {
  font-family: Trebuchet MS, Tahoma, Helvetica, sans-serif;
  font-size: 1.25rem;
  margin: 0.5rem 0;
}

.css.module {
  display: none;
}

p, li, dd, hr {
  margin: 0.25rem 0;
}

fieldset {
  margin: 0;
}

.splash .link a {
  text-decoration: none;
  border: none;
}

.wrapper:not(#outer) {
  box-shadow: none;
  box-sizing: border-box;
  margin: 0.5rem 0;

  width: 100%;
}

/* hide muted user notice */
p.muted.notice {
  display: none;
}
/*** END DEFAULTS ***/

/*** BUTTONS ***/
#main .actions ul {
  padding: 0;
  margin: 0;

  float: none;
}

#main .actions h3 {
  display: none;
}

#main ul.actions {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  align-self: flex-end;
  flex-wrap: wrap;

  float: unset;
}

#main .actions ul {
  margin: 0.5rem 0;
}

#main .actions ul li,
#main ul.actions li {
  padding: 0 0 0 0.5rem;
}

#main #inbox-form fieldset.actions ul li {
  margin: 0 0 0.25rem;
}

#main .actions ul li a,
#main .actions li form input,
#main .actions li form button,
#main .actions li input,
#main .actions li span.current,
#main .actions ul li:not(:has(a.rss)) span,
#main .actions ul li span.current,
#main .actions li span.unread,
#main .actions li span.replied,
#main ul.actions li a,
#main ul.actions li form input,
#main p.actions a,
#main ol.actions li a,
#main .actions li label,
#main dd form input,
#main .filters .submit input,
#main p.submit input,
#main legend a.action {
  border: 1px solid #bbb;
  background: unset;
  background-image: linear-gradient(#fff 2%,#ddd 95%,#bbb 100%);
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
  font-size: 0.85rem;
  line-height: 1.3;
  padding: 0.5rem 0.75rem;
}

#main .actions ul li a:not(.selected, .current):hover,
#main .actions ul li form input:not(.selected, .current):hover,
#main .actions li input:not(.selected, .current):hover,
#main .actions li span.current:not(.selected, .current):hover,
#main .actions ul li span:not(.selected, .current):hover,
#main .actions ul li span.current:not(.selected, .current):hover,
#main .actions li span.unread:not(.selected, .current):hover,
#main .actions li span.replied:not(.selected, .current):hover,
#main ul.actions li a:not(.selected, .current):hover,
#main ul.actions li form input:not(.selected, .current):hover,
#main p.actions a:not(.selected, .current):hover,
#main ol.actions li a:not(.selected, .current):hover,
#main .actions li label:not(.selected, .current):hover,
#main dd form input:not(.selected, .current):hover,
#main .filters .submit input:hover,
#main p.submit input:hover,
#main legend a.action:hover {
  color: #900;
  box-shadow: inset 2px 2px 2px #bbb;
}

/* button with input inside (like a checkbox, for some reason) */
#main .actions li label {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#main .actions li label input {
  margin: 0 0.5rem 0 0;
}

/* pagination (affects top and bottom) */
#main ol.pagination {
  display: block;

  margin: 1rem 0;
  text-align: center;
}

#main ol.pagination li {
  margin: 0 0 0 0.25rem;
}

#main ol.pagination li a {
  cursor: pointer;
}

#main ol.pagination li a,
#main ol.pagination li span.current,
#main fieldset.actions li a,
#main fieldset.actions li input {
  font-size: 0.85rem;
  margin: 0 0 0.5rem;
  padding: 0.5rem 0.75rem;
}
/*** END BUTTONS ***/

/*** CONTAINER ***/
#outer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  box-sizing: border-box;

  float: none;

  min-height: 100%;
}

#inner {
  flex: 1 1 0;

  box-sizing: border-box;

  width: 100%;
}

#inner #main {
  box-sizing: border-box;
  font-size: 1rem;
  line-height: 1.5;
  margin: 0 auto;
  padding: 1rem 0.75rem;

  position: relative;

  width: 100%;
  max-width: 1270px;
  min-height: unset;
}
/*** END CONTAINER ***/

/*** HEADER ***/
#header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  font-size: 1rem;

  /*** resets ***/
  margin: 0;
  padding: 0;

  width: 100%;
}

#header .heading {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;

  padding: 0.75rem 0 0.75rem 1.5rem;

  width: 100%;
  max-width: 635px;

  float: none;
}

/* ao3 brand */
#header .heading a {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  text-decoration: none;
}

#header .heading img.logo {
  order: -1;

  float: none;

  height: 2rem;
}

#header .heading span {
  font-size: 1.25rem;
  line-height: initial;
}

#header .heading sup {
  display: inline;

  font-family: Georgia;
  font-style: italic;
  font-weight: bold;
  font-size: 0.75rem;
  line-height: initial;
  margin: 0 0 0.75rem 0.15rem;
}

/* account info */
#header .clear,
#header .landmark,
#header #greeting .landmark {
  display: none;
}

#greeting {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;

  margin: 0;

  width: 100%;
  max-width: 635px;

  float: none;
}

#greeting ul.navigation.actions {
  padding: 0 0.75rem 0 0.5rem;

  float: none;
}

#greeting p.icon {
  order: -1;

  padding: 0;

  float: none;
}

#greeting p.icon a {
  display: flex;
  align-items: center;
}

#greeting img.icon {
  border-radius: 100%;

  height: 2rem;
  width: 2rem;
}

/* buttons */
#greeting ul.navigation.actions li {
  margin: 0 0.25rem;
}

#greeting ul.navigation.actions a {
  border-radius: 0.25rem;
  padding: 0.5rem 1rem;
  margin: 0;
}

#greeting ul.navigation.actions a.dropdown-toggle {
  border-radius: 0.25rem 0.25rem 0 0;
}

/* user dropdowns */
#greeting ul li ul.menu.dropdown-menu {
  border-radius: 0 0 0.25rem 0.25rem;
  margin: 0;
  padding: 0;

  width: 20rem;
}

#greeting ul li ul.menu.dropdown-menu li {
  margin: 0;
  padding: 0;
}

#greeting ul li ul.menu.dropdown-menu li a {
  margin: 0;
  padding: 0.75rem 1rem;

  transition: background-color 0.1s ease-in-out, color 0.2s ease-in-out;
}

#greeting ul li ul.menu.dropdown-menu li a:hover {
  transition: background-color 0.1s ease-in-out, color 0.2s ease-in-out;
}

/* nav bar */
#header nav:not(#greeting) {
  display: flex;
  align-items: center;
  justify-content: center;

  background: #900 url(/images/skins/textures/tiles/red-ao3.png);
  box-sizing: border-box;
  box-shadow: inset 0 -5px 5px -5px rgba(0, 0, 0, 0.6), inset 0 5px 5px -5px rgba(0, 0, 0, 0.6);

  width: 100%;
}

#header ul.primary.navigation.actions {
  display: flex;
  flex-direction: row;
  align-items: center;

  box-sizing: border-box;
  box-shadow: none;
  padding: 0.5em 1em 0.5em 0em;

  height: 3.25rem;
  max-width: 1270px;
}

#header ul.primary.navigation.actions li.dropdown,
#header ul.primary.navigation.actions li.search {
  display: inline;

  margin: 0;

  float: none;
}

#header .search {
  margin: 0;
}

/* dropdowns */
#header .primary.navigation.actions li.dropdown a {
  padding: 0.5rem 1rem;
  margin: 0;
}

#header .primary.navigation.actions li.dropdown a.dropdown-toggle {
  border-radius: 0.25rem 0.25rem 0 0;
}

#header .primary.navigation.actions li.dropdown ul {
  border-radius: 0 0.25rem 0.25rem 0.25rem;
  margin: 0;
  padding: 0;

  width: 20rem;
}

#header .primary.navigation.actions li.dropdown ul.dropdown-menu li {
  margin: 0;
}

#header .primary.navigation.actions li.dropdown ul.dropdown-menu li a {
  margin: 0;
  padding: 0.75rem 1rem;

  transition: background-color 0.1s ease-in-out, color 0.2s ease-in-out;
}

#header .primary.navigation.actions li.dropdown ul.dropdown-menu li a:hover {
  color: #900;
  transition: background-color 0.1s ease-in-out, color 0.2s ease-in-out;
}

/* search bar */
#header ul.primary.navigation.actions li.search {
  flex: 1 1 0;
}

#header ul.primary.navigation.actions li.search input#site_search {
  border-radius: 0.75rem;
  margin: 0;
  padding: 0.25rem 0.5rem;
}

#header ul.primary.navigation.actions li.search span.submit {
  padding: 0;
}

#header ul.primary.navigation.actions li.search span.submit input.button {
  cursor: pointer;
  margin: 0 0 0 0.25rem !important;

  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  cursor: pointer;
  font: unset;
  font-size: 0.85rem;
  line-height: 1.3;
  padding: 0.5rem 0.75rem;
  white-space: nowrap;
}

/* search bar tooltip */
.search input:focus + [role="tooltip"] {
  display: none;
}
/*** END HEADER ***/

/*** HOME PAGE ***/
#inner #main .splash {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;

  margin: auto;

  max-width: 1270px;
}

.splash .module h3 {
  font-size: 1.5rem;
  font-weight: 600;
  font-family: Georgia;

  text-transform: capitalize;
  padding: 0 0 0.25rem;
}

.splash .module h3 span.title {
  font-family: Georgia;
}

.splash .module h3.heading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.splash .module h3.heading:not(:has(span.link)) {
  padding: 0.25rem 0 0.65rem;
}

/* module header buttons */
.splash .module h3.heading span.link {
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #900;
  background-image: linear-gradient(#c40000 2%, #7c0000 95%, #730000 100%);
  border-radius: 0.25rem;
  color: white;
}

.splash .module h3.heading span.link a {
  color: white;
  cursor: pointer;
  font-size: 0.85rem;
  font-weight: normal;
  line-height: 1.3;
  padding: 0.5rem 0.75rem;
}

.logged-in .splash > .module {
  flex-basis: 48%;
  flex-grow: 0;

  margin: 0 0 1rem;

  width: unset;
}

/* news posts */
.splash .module ul.news.index.group {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /* gap: 0.2rem; */
}

#main .splash .module ul.news.index.group li.post.group {
  display: flex;
  flex-direction: column;
  /* gap: 0.5rem; */

  border: none;
  margin: 0 0 2rem;
}

#main .splash .module ul.news.index.group li.post.group .header.module {
  display: flex;
  flex-direction: column-reverse;
  margin: 0;
  /* gap: 0.25rem; */

  min-height: unset;
}

#main .splash .module ul.news.index.group li.post.group .header.module h4 {
  margin: 0;
}

#main .splash .module ul.news.index.group li.post.group .header.module h4 a:first-of-type {
  font-size: 1.25rem;
  font-weight: bold;
  text-decoration: none;
  margin: 0 0 0.5rem;
}

/* news post publsihed date */
#main .splash .module ul.news.index.group li.post.group .header.module p.meta {
  font-size: 0rem;
  margin: 0 0 0.35rem;
  text-transform: uppercase;
}

#main .splash .module ul.news.index.group li.post.group .header.module p.meta .day,
#main .splash .module ul.news.index.group li.post.group .header.module p.meta .time,
#main .splash .module ul.news.index.group li.post.group .header.module p.meta .timezone,
#main .splash .module ul.news.index.group li.post.group .header.module p.meta .comments {
  display: none;
}

#main .splash .module ul.news.index.group li.post.group .header.module p.meta .date,
#main .splash .module ul.news.index.group li.post.group .header.module p.meta .month,
#main .splash .module ul.news.index.group li.post.group .header.module p.meta .year {
  cursor: default;
  font-size: 0.75rem;
  text-decoration: none;
}

#main .splash .module ul.news.index.group li.post.group .header.module p.meta .month,
#main .splash .module ul.news.index.group li.post.group .header.module p.meta .year {
  margin: 0 0 0 0.25rem;
}

/* news blurb */
#main .splash .module ul.news.index.group li.post.group .userstuff p {
  color: #4f4f4f;
  font-size: 0.85rem;
  max-width: 70ch;
  margin: unset;
}

#main .splash ul.news.index.group li.post.group .userstuff p a {
  color: #900;
}

#main .splash ul.news.index.group li.post.group .jump {
  display: none;
}

/* inbox */
#main .splash .module.latest.messages .note {
  display: none;
}

/* favorite tags */
#main .favorite ul li a.tag {
  padding: 0.5rem 0.75rem;
  text-decoration: none;

  transition: background-color 0.1s ease-in-out;
}

#main .splash .favorite li:nth-of-type(2n+1) a {
  background-color: #DEDEDE;
  
}

#main .favorite ul li a.tag:hover {
  background-color: #900;
  color: #fff;

  transition: background-color 0.1s ease-in-out;
}

/* social media links */
#main .splash .module.social ul {
  display: flex; 
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#main .splash .module.social ul li,
#main .splash .module.social ul li a ,
#main .splash .module.social ul li a .resp-sharing-button {
  display: flex; 
  align-items: center;
  justify-content: center;

  width: 100%;
}

#main .splash .module.social ul li .resp-sharing-button__icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  margin: 0 0.25rem 0 0;
}

#main .splash .module.social ul li .resp-sharing-button__icon svg {
  margin: 0;
}

/* comments */
#main ul.abbreviated.comment.group li.comment:not(:first-of-type) {
  margin: 0.5rem 0 0;
}
/*** END HOME PAGE ***/

/*** (IN INDEX) WORK CONTAINERS ***/
#main ol.index.group,
#main ul.index.group {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

#main ol.index.group li.blurb.group,
#main ul.index.group li.blurb.group {
  background-color: #ffffff;
  box-sizing: border-box;
  margin: 0;
  padding: 1.25rem;
  overflow: hidden;

  clear: none;
}

#main ol.index.group li.blurb.group:not(:first-of-type),
#main ul.index.group li.blurb.group:not(:first-of-type) {
  margin: 0.75rem 0 0;
}

#main ol.index.group .header.module,
#main ul.index.group .header.module {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  margin: 0 0 0.5rem;

  min-height: 55px;
}

#main ol.index.group .header.module ul.required-tags,
#main ul.index.group .header.module ul.required-tags {
  width: 55px;
  height: 55px;
}

#main ol.index.group:not(.news) .header.module h4,
#main ul.index.group:not(.news) .header.module h4 {
  border: none;
  font-family: Trebuchet MS, Tahoma, Helvetica, sans-serif;
  font-size: 0.85rem;
  margin: 0 0 0.25rem 65px;

  max-width: 80%;
}

#main ol.index.group .header.module h4 a:first-of-type,
#main ul.index.group .header.module h4 a:first-of-type  {
  display: block;

  font-size: 1rem;
  margin: 0 0 0.25rem;
}

#main ol.index.group .header.module h4 a,
#main ul.index.group .header.module h4 a {
  border: none;
  text-decoration: underline;
}

#main ol.index.group .header.module h5,
#main ul.index.group .header.module h5 {
  font-size: 0.75rem;
  margin: 0 0 0 65px;

  max-width: 80%;
}

#main ol.index.group .datetime,
#main ul.index.group .datetime {
  font-family: monospace;
  font-size: 0.85rem;
  letter-spacing: 0.015rem;
  text-transform: uppercase;
}

#main ol.index.group .tag,
#main ul.index.group .tag {
  /* border: none; */
  box-sizing: border-box;
  /* text-decoration: underline; */
}

#main ol.index.group .tags.commas,
#main ul.index.group .tags.commas {
  /* background-color: #e2e2e2; */
  background-color: #f0f0f0;
  font-size: 0.85rem;
  line-height: 1.8;
  padding: 0.5rem;
  text-align: justify;
}

#main ol.index.group .tags .relationships .tag,
#main ul.index.group .tags .relationships .tag {
  /* background-color: #a8a8a8; */
  background-color: #d5d5d5;
  /* padding: 0.25rem; */
}

#main ol.index.group .userstuff.summary,
#main ul.index.group .userstuff.summary {
  font-size: 0.95rem;
  margin: 1.75rem 0;
  text-align: justify;

  clear: none;
}

#main ol.index.group li ul.series,
#main ul.index.group li ul.series {
  font-size: 0.85rem;
  font-weight: bold;
  margin: 0 0 1.75em 0;
  text-transform: uppercase;
}

#main ol.index.group li ul.series li,
#main ul.index.group li ul.series li {
  display: block;
}

#main ol.index.group li ul.series a
#main ul.index.group li ul.series a {
  border: none;
  font-weight: normal;
  text-decoration: underline;
  text-transform: initial;
}

#main ol.index.group .stats,
#main ul.index.group .stats {
  background-color: #f0f0f0;
  font-size: 0.85rem;
  margin: 0;
  padding: 0.5rem;
  text-align: unset;

  float: none;
}

#main ol.index.group .stats dt,
#main ul.index.group .stats dt {
  font-weight: bold;
  padding: 0;
}

#main ol.index.group .stats dd,
#main ul.index.group .stats dd {
  padding: 0 0.5 0 0;
}

/* bookmark/private/rec + number icons */
#main.bookmarks-index ol.bookmark.index.group p.status {
  display: flex;
  justify-content: space-between;

  margin: 0;
  padding: inherit;
  
  top: 0;
  right: 0;

  width: 53px;
}

#main.bookmarks-index ol.bookmark.index.group p.status .count  {
  line-height: 1;
  text-align: center;

  position: unset;
  top: 0;
  left: 0;
}

#main.bookmarks-index ol.bookmark.index.group p.status .count a {
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 0.85rem;
}

/* reading history */
.reading h4.viewed {
  background: none;
  font-size: 0.85rem;
  margin: 1.5rem 0;
}
/*** #endregion END (IN INDEX) WORK CONTAINERS ***/

/*** #region BOOKMARK SPECIFIC RULES ***/
/* bookmark/private/rec + number icons */
#main ol.bookmark.index.group p.status,
#main ul.bookmark.index.group p.status,
#main #user-bookmarks ol.index.group p.status,
#main #user-bookmarks ul.index.group p.status {
  display: flex;
  justify-content: space-between;

  margin: 0;
  padding: inherit;
  
  top: 0;
  right: 0;

  width: 53px;
}

#main ol.bookmark.index.group .count,
#main ul.bookmark.index.group .count,
#main #user-bookmarks ol.index.group .count,
#main #user-bookmarks ul.index.group .count {
  line-height: 1;
  text-align: center;

  position: unset;
  top: 0;
  left: 0;
}

#main ol.bookmark.index.group .count a,
#main ul.bookmark.index.group .count a,
#main #user-bookmarks ol.index.group .count a,
#main #user-bookmarks ul.index.group .count a {
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 0.85rem;
}

/* bookmark notes */
#main ol.bookmark.index.group .user.module.group {
  font-family: Trebuchet MS, Tahoma, Helvetica, sans-serif;
  font-size: 0.95rem;
  margin: 0.5rem 0;
  padding: 1rem;
  text-align: justify;

  clear: none;
}

#main ol.bookmark.index.group .user.module.group h5 {
  font-family: Trebuchet MS, Tahoma, Helvetica, sans-serif;
  font-size: 0.95rem;
  margin: 0;
}

#main ol.bookmark.index.group .user.module.group h6.meta {
  display: block;
  font-family: Trebuchet MS, Tahoma, Helvetica, sans-serif;
  font-weight: bold;
  margin: 0.75rem 0 0.25rem;
  text-transform: uppercase;
}

#main ol.bookmark.index.group .user.module.group blockquote.userstuff.notes {
  margin: 1rem 0 0;
}
/*** #endregion END BOOKMARK SPECIFIC RULES ***/

/*** #region USER DASHBOARD ***/
/* user profile navigation */
#dashboard,
#dashboard.own {
  border: none;
  border-radius: 0;;
  margin: 0 1.2rem 0 0;
  padding: 1rem 0.5rem;

  width: auto;
  height: 100%;
}

#dashboard ul.navigation.actions {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: wrap;

  border: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0.5rem;
  text-align: right;

  float: none;

  width: 100%;
}

#dashboard ul.navigation.actions:not(:last-of-type) {
  border-bottom: 2px solid #ddd;
}

#dashboard ul.navigation.actions li {
  display: inline-block;
  cursor: pointer;
  margin: 0;
  padding: 0;
}

#dashboard ul.navigation.actions li .current {
  background-color: #900;
  color: white;
}

#dashboard ul.navigation.actions li a,
#dashboard ul.navigation.actions li span {
  display: inline-block;

  box-sizing: border-box;
  font: unset;
  line-height: 1.5;
  margin: 0 0 0.25rem;
  padding: 0.5rem 0.75rem;

  width: 100%;
}
/*** #endregion END USER DASHBOARD ***/

/*** #region USER PAGE ***/
.user.home {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.user.home .header.module {
  box-sizing: border-box;

  width: 100%;
}

/* user works/bookmarks/drafts/etc page (accounting for dashboard + filter) */
#inner:has(#dashboard) {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}

#inner:has(#dashboard) #main.filtered .index.group {
  display: block;
  width: 70%;
}

#inner:has(#dashboard) #main form.filters {
  position: sticky;
  top: 0.5rem;

  width: 25%;
}

/* user stats page */
.statistics .listbox .index li:nth-of-type(2n) {
  background-color: inherit;
}

/* user subscriptions page */
.subscription.index.group {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.subscription.index.group dt,
.subscription.index.group dd {
  flex: 0 0 50%;

  background-color: unset;
  box-sizing: border-box;
  margin: 0;
  padding: 0.5rem;
}

.subscription.index.group dt:nth-of-type(2n),
.subscription.index.group dd:nth-of-type(2n) {
  background-color: #f0f0f0;
}
.subscription.index.group dd form input {
  width: 100%;
}

/* user profile/works page */
.profile-show ul.navigations.actions:first-of-type,
.primary.header.module ul.navigation.actions {
  padding: 0 0 0 100px;
}

/* user inbox */
form.inbox#inbox-form {
  width: 72%;
}
/*** #endregion END USER PAGE ***/

/*** WORKS FILTER ***/
form.filters fieldset {
  box-sizing: border-box;
  box-shadow: unset;

  margin: 0;
  padding: 0.25rem 0.75rem 0.75rem;
}

form.filters fieldset dt,
form.filters fieldset dd,
form.filters fieldset dl {
  border: none;
  margin: 0;
  padding: 0;
}

form.filters fieldset dl {
  margin: 0 0 1.25rem;
}

form.filters fieldset input,
form.filters fieldset select {
  cursor: pointer;
  font-size: 0.85rem;
  line-height: 1.3;
  margin: 0;
  padding: 0.5rem 0.75rem;
}

form.filters fieldset .submit.actions {
  margin: 0.5rem 0;
}

form.filters fieldset dt label,
form.filters fieldset dt.search
form.filters fieldset dt.heading,
form.filters fieldset dt.heading h4 {
  display: inline-flex;
  align-items: center;

  font-size: 1rem;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: bold;
  margin: 0;

  max-width: fit-content;
}

form.filters fieldset dt.search {
  display: inline-flex;
  align-items: center;
  font-size: 1rem;
}

form.filters fieldset dt.search label {
  font-size: 0.9rem;
  margin: 0.05rem 0;
}
/*** END WORKS FILTER ***/

/*** ACTUAL WORK PAGE ***/
/* work details */
#main.chapters-show .wrapper,
#main.works-show .wrapper {
  box-shadow: none;
  font-size: 0.85rem;
  margin: 0.75rem 0;
}

#main.chapters-show .wrapper .work.meta,
#main.works-show .wrapper .work.meta {
  background-color: #ededed;
  box-sizing: border-box;
  padding: 1.75rem;

  margin: 0 auto;
}

#main.chapters-show .wrapper .work.meta:has(dd.rating.tags a[href*='Explicit']),
#main.works-show .wrapper .work.meta:has(dd.rating.tags a[href*='Explicit']) {
  border-left: 3px solid #900;
}

#main.chapters-show .wrapper .work.meta:has(dd.rating.tags a[href*='Mature']), 
#main.works-show .wrapper .work.meta:has(dd.rating.tags a[href*='Mature']) {
  border-left: 3px solid #F0881F;
}

#main.chapters-show .wrapper .work.meta:has(dd.rating.tags a[href*='Teen']), 
#main.works-show .wrapper .work.meta:has(dd.rating.tags a[href*='Teen']) {
  border-left: 3px solid #E6D200;
}

#main.chapters-show .wrapper .work.meta:has(dd.rating.tags a[href*='General']),
#main.works-show .wrapper .work.meta:has(dd.rating.tags a[href*='General']) {
  border-left: 3px solid #7EB000;
}

/* work title */
#main #workskin .preface h2.title {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 1.75rem;
}

/* work author */
#main #workskin .preface h3.byline {
  font-size: 0.95rem;
}

/* work preface/notes */
#main #workskin .preface {
  border: none;
  margin: 0 auto;
  padding: 0.5rem 0;

  width: 70ch;
  max-width: 100%;
}

#main #workskin .preface .module {
  margin: 0;

  min-height: unset;
}

#main #workskin .preface .module h3.heading {
  border: none;

  font-family: inherit;
  font-size: 1rem;
  font-weight: bold;
  line-height: 1.5;
  margin: 0;
}

#main #workskin .preface .summary blockquote.userstuff,
#main #workskin .preface .notes blockquote.userstuff {
  background-color: #ededed;
  padding: 1.25rem 2rem;
  text-align: justify;
  font-size: 0.85rem;
  margin: 0;
  border: 1px solid #cccccc;
  border-left: 5px solid #900;
}

#main #workskin .preface blockquote.userstuff p {
  line-height: 1.5;

  width: unset;
  max-width: 100%;
}

#main #workskin .preface .notes:not(:has(blockquote.userstuff)) h3 {
  display: none;
}

#main #workskin .preface .notes .associations {
  font-size: 0.95rem;
  font-style: italic;
  text-align: center;
  margin: 0;
  padding: 0.5rem 1rem;
}

#main #workskin .preface p.jump {
  font-size: 1rem;
  margin: 1rem auto 1.5rem;
  text-align: center;
}

#main #workskin .preface p.jump a {
  border-bottom: none;
  text-decoration: underline;
}

/* chapter header */
#main #workskin .preface h3.title {
  display: block;

  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 2rem;
}

#main #workskin .chapter.preface h3.title a {
  border-bottom: none;
  color: inherit;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-style: italic;
  font-weight: bold;
  text-decoration: none;
}

/* chapter summary & notes */
#main #workskin #chapters blockquote.userstuff,
#main #workskin #chapters #summary .userstuff,
#main #workskin #chapters #notes .userstuff {
  box-sizing: border-box;
  font-size: 1rem;
  margin: 0 auto;
  padding: 0.5rem 0.75rem;

  width: 70ch;
  max-width: 100%;
}

/* "see more notes" */
#main #workskin #chapters #notes p {
  text-align: center;
}

#main #workskin #chapters #summary .userstuff p,
#main #workskin #chapters #notes .userstuff p {
  font-size: 1rem;
  line-height: 1.5;
  text-align: left;

  width: unset;
  max-width: 100%;
}

/* work body text */
#main #workskin .userstuff.module {
  margin: 0 auto;
}

#main #workskin #chapters .userstuff p,
#main #workskin #chapters .userstuff blockquote,
#main #workskin #chapters .userstuff span {
  font-family: 'Lucida Grande','Lucida Sans Unicode', Verdana, Helvetica, sans-serif,'GNU Unifont';
  font-size: 1.1rem;
  line-height: 1.5;
  text-align: justify;
  hyphens: auto;

  width: 65ch;
  max-width: 100%;
}

/* image within content */
#main #workskin #chapters .userstuff img {
  display: block;
  margin: 0 auto;
}

/* feedback section */
#main #feedback {
  margin: 0 auto;
}

/* feedback buttons */
#main #feedback #kudos_message.notice {
  display: block;

  border-radius: 0.25rem;
  box-shadow: none;
  margin: 0.75rem 0;
  padding: 0.5rem 0.75rem;
}

#main #kudos p.kudos {
  font-size: 0.85rem;
}

/* create bookmark form */
#main #bookmark-form form {
  padding: 0;
}

#main #bookmark-form fieldset {
  padding: 1rem;
}

#main #bookmark-form fieldset fieldset {
  border: none;
}

.autocomplete input, .autocomplete .dropdown ul li {
  box-sizing: border-box;
}

.autocomplete .dropdown ul li p {
  margin: 0;
}
/*** END ACTUAL WORK PAGE ***/

/*** #region COMMENTS ***/
/* comment heading */
#main ul.comment li.comment.group h4,
#main ol.comment li.comment.group h4,
#main ol.thread li.comment.group h4 {
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  box-sizing: border-box;
  font-family: Trebuchet MS, Tahoma, Helvetica, sans-serif;
  font-size: 0.85rem;
  margin: 0;
  padding: 1rem 5rem 1rem 5.5rem;

  height: 4.5rem;
}

#main ul.comment li.comment.group h4 a,
#main ol.comment li.comment.group h4 a,
#main ol.thread li.comment.group h4 a {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  border: none;
  text-decoration: underline;

  margin: 0 0.25rem;
}

#main ul.comment li.comment.group h4 a[href*="/users/"],
#main ol.comment li.comment.group h4 a[href*="/users/"],
#main ol.thread li.comment.group h4 a[href*="/users/"],
#main ul.comment li.comment.group h4 span:not(.role, .posted.datetime, .date, .year, .time),
#main ol.comment li.comment.group h4 span:not(.role, .posted.datetime, .date, .year, .time),
#main ol.thread li.comment.group h4 span:not(.role, .posted.datetime, .date, .year, .time) {
  flex: 0 0 100%;

  font-size: 1rem;
  margin: 0;

  max-width: unset;
}

#main ul.comment li.comment.group h4 a[href*="/users/"]:has(+ a[href*="/works/"], + span.parent),
#main ol.comment li.comment.group h4 a[href*="/users/"]:has(+ a[href*="/works/"], + span.parent),
#main ol.thread li.comment.group h4 a[href*="/users/"]:has(+ a[href*="/works/"], + span.parent),
#main ul.comment li.comment.group h4 span:not(.role, .posted.datetime, .date, .year, .time):has(+ a[href*="/works/"], + span.parent),
#main ol.comment li.comment.group h4 span:not(.role, .posted.datetime, .date, .year, .time):has(+ a[href*="/works/"], + span.parent),
#main ol.thread li.comment.group h4 span:not(.role, .posted.datetime, .date, .year, .time):has(+ a[href*="/works/"], + span.parent) {
  margin: 0 0 0.5rem 0;
}

#main ul.comment li.comment.group h4 a[href*="/works/"],
#main ol.comment li.comment.group h4 a[href*="/works/"],
#main ol.thread li.comment.group h4.heading.byline span.parent {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  font-size: 0.85rem;
  font-style: italic;
  margin: 0;

  max-width: 80%;
}

#main ul.comment li.comment.group h4 a[href*="/works/"],
#main ol.comment li.comment.group h4 a[href*="/works/"] {
  margin: 0 0 0 0.25rem;
}

/* guest/staff identifier */
#main ul.comment li.comment.group h4 .role,
#main ol.comment li.comment.group h4 .role,
#main ol.thread li.comment.group h4 .role,
#main ul.thread li.comment.group h4 .role {
  font-size: 0.75rem;
  margin: -0.25rem 0 0;
  padding: 0;
  padding-top: inherit;
  padding-right: 1rem;
  text-transform: uppercase;

  position: absolute;
  top: 0;
  right: 0;
}

#main ul.comment li.comment.group h4 .posted.datetime,
#main ol.comment li.comment.group h4 .posted.datetime,
#main ol.thread li.comment.group h4 .posted.datetime,
#main ol.thread li.comment.user.module.group h4 .posted.datetime {
  flex: 1 1 0;

  font-size: 0.75rem;
  padding-top: inherit;
  padding-bottom: inherit;
  padding-right: 1rem;
  text-align: right;

  position: absolute;
  right: 0;

  min-width: max-content;
} 

/* comment user icon */
#main ul.comment li.comment.group .icon,
#main ol.comment li.comment.group .icon {
  border: none;
  margin: 0;

  width: unset;
  height: unset;
}

#main ul.comment li.comment.group .icon img,
#main ol.comment li.comment.group .icon img,
#main ol.thread li.comment.group .icon {
  box-sizing: border-box;
  margin: 0;

  position: absolute;
  top: 0rem;
  left: 0rem;

  width: 4.5rem;
  height: 4.5rem;
}

/* comment text */
#main ul.comment li.comment.group .userstuff,
#main ol.comment li.comment.group .userstuff,
#main ol.thread li.comment .userstuff {
  font-size: 0.95rem;
  hyphens: auto;
  line-height: 1.5;
  text-align: justify;
  margin: 0;
  padding: 1rem 1rem 0.75rem 1rem;

  min-height: unset;
}

/* comment action buttons container */
#main ul.comment li.comment.group .actions,
#main ol.comment li.comment.group .actions,
#main ol.thread li.comment.group .actions,
#main ul.thread li.comment.group .actions {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  /*   gap: 0.2rem; */

  margin: 0;
  padding: 0 1rem 0.5rem 1rem;
}

/* comments on work pages */
#main ol.thread li.comment h4::after,
#main ul.thread li.comment h4::after {
  content: none;
}

/* comment editted date */
#main ol.thread li.comment p.edited,
#main ul.thread li.comment p.edited {
  font-size: 0.85rem;
  hyphens: auto;
  line-height: 1.5;
  margin: 0;
  padding: 1rem 1rem 0.75rem 1rem;
  text-align: justify;
}
/*** #endregion END COMMENTS ***/

/*** #region NEWS POSTS ***/
/* news posts comments */
#main.admin_posts-show #add_comment_placeholder div.comment,
#main.admin_posts-show #main li.comment {
  overflow: hidden;
}

#main.admin_posts-show #add_comment_placeholder .clear {
  display: none;
}

/* fixes strange overflow bug on news post comment */
ol.thread li.comment,
ul.thread li.comment {
  margin: 0.5rem 0 0;
  overflow: hidden;
}
/*** #endregion END NEWS POSTS ***/

/*** INDEX CONTAINERS ***/
.listbox.group {
  box-shadow: unset;
  box-sizing: border-box;
  clear: unset;
  margin: 0.5rem auto;
  padding: 0;

  width: 100%;
}

.listbox.group h3,
.statistics .listbox.group h5{
  background-color: #ddd;
  box-sizing: border-box;
  padding: 0.75rem;

  width: 100%;
}

.listbox .index {
  box-sizing: border-box;
  padding: 0.75rem;

  width: 100%;
}

#main .listbox ul.actions[role='navigation'] {
  padding: 0.75rem 0.75rem 0.75rem 0;
}

#main .listbox ul.index.group ul.actions[role='navigation'] {
  padding: 0;
}

#main .listbox ul.actions[role='navigation'] li {
  margin: 0;
}
/*** END INDEX CONTAINERS ***/

/*** EDIT WORKS PAGE ***/
dl.work.index.group dd {
  margin: 0.5rem 0;
  padding: 1rem;
}
/** END EDIT WORKS PAGE ***/

/*** COLLECTIONS ***/
#header h2.collections {
  border-top: none;
  margin: 0;
  padding: 0;

  width: 100%;
}
/*** END COLLECTIONS ***/

/*** FORM PAGES ***/
form p {
 margin: 0;
 padding: 0;
}

form.skin fieldset {
  margin: 0.75rem 0;
  padding: 0.5rem 1.25rem;  
}

form.skin fieldset legend {
  padding: 0.5rem 0.75rem;
}

form.skin fieldset dl {
  margin: 0;
  padding: 0;
}

/*** FOOTER ***/
#footer {
  border: none;
  box-sizing: border-box;
  font-family: Trebuchet MS, Tahoma, Helvetica, sans-serif;
  padding: 1rem 1.5rem;

  float: none;
}

#footer ul.navigation.actions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  box-sizing: border-box;
  font-size: 0.75rem;
  margin: 0 auto;
  padding: 0 1.75rem;

  float: none;
  clear: unset;

  width: 100%;
  max-width: 1270px;
}

#footer ul li.module.group {
  padding: 0;

  float: none;

  width: unset;
  max-width: unset;
}

#footer ul li.module.group h4 {
  font-family: Trebuchet MS, Tahoma, Helvetica, sans-serif;
  text-decoration: underline;
}

#footer ul li.module.group ul.menu li a {
  display: inline-block;

  border: none;
  overflow: hidden;
  text-overflow: ellipsis;
  text-decoration: none;
  white-space: nowrap;

  max-width: 25ch;
}
/*** END FOOTER ***/