body {
  background-color: #191717 !important;
  color: #F4F2F2 !important;
}

a,
.actions a,
.actions a:link,
.action,
.action:link,
.actions button,
.actions input,
input[type="submit"],
button,
.current,
.actions label {
  color: #F7F7F7 !important;
  transition: color 0.2s ease-in-out !important;
}

a:hover {
  color: #DFDFDF !important;
  transition: color 0.2s ease-in-out !important;
}

.draft,
.draft .wrapper,
.unread,
.child,
.unwrangled,
.unreviewed,
#main .splash .favorite.module ul,
#main ol.index.group li.blurb.group,
#main ul.index.group li.blurb.group,
dd.hideme,
form blockquote.userstuff,
form:not(#search) fieldset,
#work-filters fieldset,
#bookmark-filters fieldset,
#main.chapters-show .wrapper .work.meta,
#main.works-show .wrapper .work.meta,
#main #workskin .preface .summary blockquote.userstuff,
#main #workskin .preface .notes blockquote.userstuff,
.listbox.group,
#main #add_comment .post.comment fieldset,
div.comment,
li.comment {
  background-color: #262424 !important;
  border: 1px solid #333131 !important;
}

.listbox.group h3 {
  background-color: #262424 !important;
  color: #F4F2F2 !important;
}

.comment h4.byline,
#main .splash .favorite li:nth-of-type(2n+1) a,
#header .dropdown .menu a:hover,
#header .dropdown .menu a:focus,
#main ol.index.group .tags.commas,
#main ul.index.group .tags.commas,
#main ol.index.group .stats,
#main ul.index.group .stats,
.listbox .index,
.statistics .listbox.group h5,
.listbox,
fieldset fieldset.listbox,
form fieldset legend,
#main .splash .module ul.news.index.group li.post.group .header.module p.meta {
  background-color: #191717 !important;
}

form fieldset legend {
  border: 1px solid #333131 !important;
  box-shadow: none !important;
}

#main .favorite ul li a.tag,
#header .actions a:hover,
#header .actions a:focus,
#header .dropdown:hover a,
#dashboard ul.navigation.actions li a:hover,
#header .open a,
.thread .even {
  background-color: #262424 !important;
}

.listbox .index,
dd.hideme,
#main.skins-edit form fieldset,
form blockquote.userstuff {
  box-shadow: inset 1px 1px 5px #1e1515 !important;
}

#main .actions ul li a:not(.selected, .current):hover,
#main .actions ul li form input:not(.selected, .current):hover,
#main .actions li input:not(.selected, .current):hover,
#main .actions li span.current:not(.selected, .current):hover,
#main .actions ul li span:not(.selected, .current):hover,
#main .actions ul li span.current:not(.selected, .current):hover,
#main .actions li span.unread:not(.selected, .current):hover,
#main .actions li span.replied:not(.selected, .current):hover,
#main ul.actions li a:not(.selected, .current):hover,
#main ul.actions li form input:not(.selected, .current):hover,
#main p.actions a:not(.selected, .current):hover,
#main ol.actions li a:not(.selected, .current):hover,
#main .actions li label:not(.selected, .current):hover,
#main dd form input:not(.selected, .current):hover,
#main .filters .submit input:hover,
#main p.submit input:hover,
#main legend a.action:hover,
#main ul li a.showme:hover,
#main ul li fieldset p span a:hover {
  box-shadow: inset 2px 2px 2px #1e1515 !important;
}

.toggled form,
.dynamic form,
.secondary,
.dropdown,
#main .splash .module ul.news.index.group li.post.group .userstuff p {
  color: #b1aaaa !important;
}

.splash .module h3,
#main.dashboard .primary.header.module h2.heading,
#dashboard ul.navigation.actions:not(:last-of-type) {
  border-bottom-color: #373434 !important;
}

.splash .module h3.heading span.link {
  background-color: #700 !important;
  background-image: linear-gradient(#a00000 2%, #5a0000 95%, #4d0000 100%) !important;
}

#main .actions ul li a,
#main .actions li form input,
#main .actions li form button,
#main .actions li input,
#main .actions li span.current,
#main .actions ul li:not(:has(a.rss)) span,
#main .actions ul li span.current,
#main .actions li span.unread,
#main .actions li span.replied,
#main ul.actions li a,
#main ul.actions li form input,
#main p.actions a,
#main ol.actions li a,
#main .actions li label,
#main dd form input,
#main .filters .submit input,
#main p.submit input,
#main legend a.action,
#header #search input[type="submit"],
#main fieldset dl dd ul li .action,
#main ul li a.showme,
#main ul li fieldset p span a {
  background-image: linear-gradient(#2d2929 2%, #262424 95%, #100000 100%) !important;
  border: 1px solid #333131 !important;
}

#header nav:not(#greeting),
#footer,
#main ol.index.group .tags .relationships .tag,
#main ul.index.group .tags .relationships .tag,
#dashboard ul.navigation.actions li .current {
  background-blend-mode: multiply !important;
  background-color: rgba(146, 8, 1, 0.5) !important;
}