html,
body {
  font-size: 16px;
  letter-spacing: 0.0025rem;
  word-spacing: 0.0rem;

  overflow-x: hidden;

  height: 100%;
}

html,
body,
a,
h1,
h2,
h3,
h4,
h5,
p,
span {
  font-family: Trebuchet MS, Tahoma, Helvetica, sans-serif;
}

/* CONTAINER */
#outer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  box-sizing: border-box;

  float: none;

  min-height: 100%;
}

/* HEADER */
#header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;

  font-size: 1rem;

  /* resets */
  margin: 0;
  padding: 0;

  width: 100%;
  max-width: 1270px;
}

#header .heading {
  padding: 0.75rem 0 0.75rem 1.5rem;

  float: none;
}

/* ao3 brand */
#header .heading a {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  /*   gap: 0.2rem; */
}

#header .heading img.logo {
  order: -1;

  float: none;

  height: 2rem;
}

#header .heading span {
  font-size: 1.25rem;
  line-height: initial;
}

#header .heading sup {
  display: inline;

  font-size: 0.75rem;
  line-height: initial;
  margin: 0 0 0.5rem;
}

/* account info */
#header .clear,
#header .landmark,
#header #greeting .landmark {
  display: none;
}

#greeting {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /*   gap: 0.2rem; */

  margin: 0;

  float: none;
}

#greeting ul.navigation.actions {
  padding: 0 0.75rem 0 0.5rem;

  float: none;
}

#greeting p.icon {
  order: -1;

  padding: 0;

  float: none;
}

#greeting p.icon a {
  display: flex;
  align-items: center;
}

#greeting img.icon {
  border-radius: 100%;

  height: 2rem;
  width: 2rem;
}

/* buttons */
#greeting ul.navigation.actions li {
  margin: 0 0.25rem;
}

#greeting ul.navigation.actions a {
  border-radius: 0.25rem;
  padding: 0.5rem 1rem;
  margin: 0;
}

#greeting ul.navigation.actions a.dropdown-toggle {
  border-radius: 0.25rem 0.25rem 0 0;
}

/* user dropdowns */
#greeting ul li ul.menu.dropdown-menu {
  border-radius: 0 0 0.25rem 0.25rem;
  margin: 0;
  padding: 0;

  width: 20rem;
}

#greeting ul li ul.menu.dropdown-menu li {
  margin: 0;
  padding: 0;
}

#greeting ul li ul.menu.dropdown-menu li a {
  margin: 0;
  padding: 0.75rem 1rem;

  transition: background-color 0.1s ease-in-out, color 0.2s ease-in-out;
}

#greeting ul li ul.menu.dropdown-menu li a:hover {
  transition: background-color 0.1s ease-in-out, color 0.2s ease-in-out;
}

/* nav bar */
#header nav:not(#greeting) {
  width: 100%;
}

#header ul.primary.navigation.actions {
  display: flex;
  flex-direction: row;
  align-items: center;

  box-sizing: border-box;
  box-shadow: inset 0 -5px 5px -5px rgba(0, 0, 0, 0.6), inset 0 5px 5px -5px rgba(0, 0, 0, 0.6);
  padding: 0.5rem 1.5rem 0.5rem 0.75rem;

  height: 3.25rem;
}

#header ul.primary.navigation.actions::before {
  background: #900 url(/images/skins/textures/tiles/red-ao3.png);
  content: '';

  box-shadow: inset 0 -5px 5px -5px rgba(0, 0, 0, 0.6), inset 0 5px 5px -5px rgba(0, 0, 0, 0.6);

  position: absolute;
  bottom: 0;
  left: -100%;

  width: 100%;
  height: 3.25rem;
}

#header ul.primary.navigation.actions::after {
  background: #900 url(/images/skins/textures/tiles/red-ao3.png);
  content: '';

  box-shadow: inset 0 -5px 5px -5px rgba(0, 0, 0, 0.6), inset 0 5px 5px -5px rgba(0, 0, 0, 0.6);

  position: absolute;
  bottom: 0;
  right: -100%;

  width: 100%;
  height: 3.25rem;
}

#header ul.primary.navigation.actions li.dropdown,
#header ul.primary.navigation.actions li.search {
  display: inline;

  margin: 0;

  float: none;
}

/* dropdowns */
#header .primary.navigation.actions li.dropdown a {
  border-radius: 0.25rem 0.25rem 0 0;
  padding: 0.5rem 1rem;
  margin: 0;
}

#header .primary.navigation.actions li.dropdown ul {
  border-radius: 0 0 0.25rem 0.25rem;
  margin: 0;
  padding: 0;

  width: 20rem;
}

#header .primary.navigation.actions li.dropdown ul.dropdown-menu li {
  margin: 0;
}

#header .primary.navigation.actions li.dropdown ul.dropdown-menu li a {
  margin: 0;
  padding: 0.75rem 1rem;

  transition: background-color 0.1s ease-in-out, color 0.2s ease-in-out;
}

#header .primary.navigation.actions li.dropdown ul.dropdown-menu li a:hover {
  transition: background-color 0.1s ease-in-out, color 0.2s ease-in-out;
}

/* search bar */
#header ul.primary.navigation.actions li.search {
  flex: 1 1 0;
}

#header ul.primary.navigation.actions li.search input#site_search {
  border-radius: 0.75rem;
  margin: 0;
  padding: 0.25rem 0.5rem;
}

#header ul.primary.navigation.actions li.search span.submit {
  padding: 0;
}

#header ul.primary.navigation.actions li.search span.submit input.button {
  cursor: pointer;
  margin: 0 0 0 0.25rem !important;
  padding: 0.25rem 0.75rem;
}
/* END HEADER */

/* INNER */
#inner {
  flex: 1 1 0;

  box-sizing: border-box;

  width: 100%;
}

#inner #main {
  box-sizing: border-box;
  font-size: 1rem;
  line-height: 1.5;
  margin: 0 auto;
  padding: 1rem 1.75rem;

  position: relative;

  max-width: 1270px;
  min-height: unset;
}
/* END INNER */

/* HOME PAGE */
#inner #main .splash {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  /*   gap: 1rem; */

  /*   column-count: auto;
  column-width: 60ch;
  column-gap: 1rem; */

  margin: 0 auto;

  max-width: unset;
}

#inner #main .splash div.module {
  margin: 1rem 0 1.5rem;
  /* break-inside: avoid-column; */
  /* page-break-inside: avoid; */

  float: none;

  width: 100%;
  max-width: 60ch;
}
/* module headers */
#inner #main .splash div h3 {
  display: flex;
  justify-content: space-between;
  align-items: center;

  box-sizing: border-box;
  font-family: Trebuchet MS, Tahoma, Helvetica, sans-serif;
  margin: 0 0 0.75rem;
  padding: 0 0 0.5rem;
  text-transform: capitalize;

  height: 2.25rem;
}

/* "find your favorites" module */
#inner #main .favorite.module {
  order: 0;
}

#inner #main .favorite.module ul li a {
  padding: 0.5rem;
}

/* "news" module */
#inner #main .latest.news.module h3 .link {
  display: flex;

  border-bottom: unset;

  float: unset;
}

/* "all news" button */
#inner #main .latest.news.module {
  order: 2;
}

#inner #main .latest.news.module h3 .link a {
  background-color: #900;
  border: none;
  border-radius: 0.25rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 3px -1px,rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  box-sizing: border-box;
  color: white;
  font-size: 0.95rem;
  padding: 0.5rem 0.75rem;
  text-decoration: none;
}

/* news posts */
#inner #main .latest.news.module li.post.group {
  margin: 1rem 0;
}

#inner #main .latest.news.module li.post.group:last-of-type {
  margin: 0;
}

#inner #main .latest.news.module li.post.group .header.module {
  margin: 0 0 0.25rem;

  float: none;
}

#inner #main .latest.news.module li.post.group .header.module h4 {
  font-size: 1rem;
  line-height: 1.2;
  margin: 0 0 0.25rem;
}

#inner #main .latest.news.module li.post.group .header.module p.meta {
  font-size: 0.8rem;
}

#inner #main .latest.news.module li.post.group .userstuff p {
  hyphens: auto;
  line-height: 1.5;
  text-align: justify;
}

#inner #main .latest.news.module li.post.group p {
  margin: 0 0 1rem;
}

#inner #main .latest.news.module li.post.group p a {
  border: none;
  font-size: 0.9rem;
  margin: 0 0 1.25rem;
  text-decoration: underline;
}

/* "unread messages" module */
#inner #main .latest.messages {
  order: 1;
}

#inner #main .latest.messages h3 .link {
  display: flex;

  border-bottom: unset;

  float: unset;
}

/* "my inbox" button */
#inner #main .latest.messages h3 .link a {
  background-color: #900;
  border: none;
  border-radius: 0.25rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 3px -1px,rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  box-sizing: border-box;
  color: white;
  font-size: 0.95rem;
  padding: 0.5rem 0.75rem;
  text-decoration: none;
}

/* comment heading */
#inner #main .latest.messages li.comment.group h4 {
  display: flex;
  align-items: center;

  font-family: Trebuchet MS, Tahoma, Helvetica, sans-serif;
  font-size: 0.85rem;
  margin: 0;
  padding: 1.5rem 1rem 1.5rem 4.5rem;
}

#inner #main .latest.messages li.comment.group h4 a {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  border: none;
  text-decoration: underline;

  margin: 0 0.25rem;

  max-width: 25%;
}

#inner #main .latest.messages li.comment.group h4 a:last-of-type {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  font-style: italic;
  margin: 0 0 0 0.25rem;

  max-width: 50%;
}

#inner #main .latest.messages li.comment.group h4 .posted.datetime {
  flex: 1 1 0;

  font-size: 0.75rem;
  text-align: right;

  min-width: max-content;
}

/* comment user icon */
#inner #main .latest.messages li.comment.group .icon {
  border-bottom: none;
  margin: 0;

  width: unset;
  height: unset;
}

#inner #main .latest.messages li.comment.group .icon img {
  border-radius: 100%;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;

  position: absolute;
  top: 0.45rem;
  left: 1rem;

  width: 3rem;
  height: 3rem;
}

/* comment text */
#inner #main .latest.messages li.comment.group .userstuff {
  font-size: 0.95rem;
  hyphens: auto;
  line-height: 1.5;
  text-align: justify;
  margin: 0;
  padding: 1rem;
}

/* comment action buttons */
#inner #main .latest.messages li.comment.group .actions {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  /*   gap: 0.2rem; */

  margin: 0;
  padding: 0 1rem 1rem 0;
}

#inner #main .latest.messages li.comment.group .actions li a,
#inner #main .latest.messages li.comment.group .actions li form input,
#inner #main .latest.messages li.comment.group .actions li span.current {
  cursor: pointer;
  font-size: 0.85rem;
  line-height: 1.3;
  margin: 0 0 0 0.5rem;
  padding: 0.5rem 0.75rem;
}

/* "follow us" module */
#inner #main .social.module {
  order: 3;
}

#inner #main .social.module p {
  hyphens: auto;
  line-height: 1.5;
  margin: 0 0 1.25rem;
  text-align: justify;
}

#inner #main .social.module ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  font-size: 0.75rem;
}

#inner #main .social.module ul li {
  margin: 0;
}

#inner #main .social.module ul li .resp-sharing-button {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /*   gap: 0.2rem; */

  margin: 0;

  width: unset;
}

#inner #main .social.module ul li .resp-sharing-button .resp-sharing-button__icon {
  display: flex;
  align-items: center;
  margin: 0;

  max-width: fit-content;
}
/* END HOME PAGE */

/* WORKS INDEX */
/* hide muted user notice */
p.muted.notice {
  display: none;
}

/* heading */
#main.works-index h2.heading {
  font-family: Trebuchet MS, Tahoma, Helvetica, sans-serif;
  font-size: 1.25rem;
}

/* heading buttons */
#main.works-index .navigation.actions.module ul.user.navigation.actions {
  padding: 0;
  margin: 0;

  float: none;
}

#main.works-index .navigation.actions.module h3 {
  display: none;
}

#main.works-index .navigation.actions.module ul.user.navigation.actions {
  margin: 0.5rem 0;
}

#main.works-index .navigation.actions.module ul.user.navigation.actions li span {
  font-size: 0.85rem;
  padding: 0.5rem 0.75rem;
  margin: 0;
}

#main.works-index .navigation.actions.module ul.user.navigation.actions li a,
#main.works-index .navigation.actions.module ul.user.navigation.actions li form input,
#main.works-index .navigation.actions.module ul.user.navigation.actions li span.current {
  cursor: pointer;
  font-size: 0.85rem;
  line-height: 1.3;
  margin: 0 0 0 0.25rem;
  padding: 0.5rem 0.75rem;
}

#main.works-index .navigation.actions.module ul.user.navigation.actions li a.rss {
  display: none;
}

/* pagination (affects top and bottom) */
#main.works-index ol.pagination {
  display: block;

  margin: 1rem 0;
  text-align: center;
}

#main.works-index ol.pagination li a {
  cursor: pointer;
  font-size: 0.85rem;
  padding: 0.5rem 0.75rem;
  margin: 0 0 0 0.25rem;
}

/* work container */
#main.works-index ol.work.index.group li.work.blurb.group {
  box-sizing: border-box;
  padding: 1.25rem 1.75rem;
  overflow: none;

  clear: none;
}

#main.works-index ol.work.index.group .header.module {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  margin: 0 0 0.5rem;

  min-height: 55px;
}

#main.works-index ol.work.index.group .header.module ul.required-tags {
  width: 55px;
  height: 55px;
}

#main.works-index ol.work.index.group .header.module h4 {
  border: none;
  font-family: Trebuchet MS, Tahoma, Helvetica, sans-serif;
  font-size: 1rem;
  margin: 0 0 0.25rem 65px;

  max-width: 80%;
}

#main.works-index ol.work.index.group .header.module h4 a {
  border: none;
  text-decoration: underline;
}

#main.works-index ol.work.index.group .header.module h5 {
  font-size: 0.75rem;
  margin: 0 0 0 65px;

  max-width: 80%;
}

#main.works-index ol.work.index.group .datetime {
  font-family: monospace;
  font-size: 0.85rem;
  letter-spacing: 0.015rem;
  text-transform: uppercase;
}

#main.works-index ol.work.index.group .tag {
  /* border: none; */
  box-sizing: border-box;
  /* text-decoration: underline; */
}

#main.works-index ol.work.index.group .tags.commas {
  /* background-color: #e2e2e2; */
  background-color: #f0f0f0;
  font-size: 0.85rem;
  line-height: 1.8;
  padding: 0.5rem;
  text-align: justify;
}

#main.works-index ol.work.index.group .tags .relationships .tag {
  /* background-color: #a8a8a8; */
  background-color: #d5d5d5;
  /* padding: 0.25rem; */
}

#main.works-index ol.work.index.group .userstuff.summary {
  font-size: 0.95rem;
  margin: 1.75rem 0;
  text-align: justify;

  clear: none;
}

#main.works-index ol.work.index.group .series {
  font-size: 0.85rem;
  font-weight: bold;
  margin: 0 0 1.75em 0;
  text-transform: uppercase;
}

#main.works-index ol.work.index.group .series a {
  border: none;
  font-weight: normal;
  text-decoration: underline;
  text-transform: initial;
}

#main.works-index ol.work.index.group .stats {
  background-color: #f0f0f0;
  font-size: 0.85rem;
  margin: 0;
  padding: 0.5rem;
  text-align: unset;

  float: none;
}

#main.works-index ol.work.index.group .stats dt {
  font-weight: bold;
  padding: 0;
}

#main.works-index ol.work.index.group .stats dd {
  padding: 0 0.5 0 0;
}

/* filter controls */
#main.works-index form#work-filters.narrow-hidden {
  position: sticky;
  top: 0;
}

#main.works-index form#work-filters.narrow-hidden fieldset {
  border: 2px solid #b7b7b7;
  box-shadow: none;
  font-family: Trebuchet MS, Tahoma, Helvetica, sans-serif;
  margin: 0.75rem 0 5.35rem 0;
}

#main.works-index form#work-filters.narrow-hidden fieldset .submit.actions input {
  margin: 0 0 1rem;
}
/* END WORKS INDEX */

/* ACTUAL WORK PAGE */
/* notice */
#main.works-show p.notice {
  background-color: #ffe34e;
  border-color: #b9ab64;
  border-radius: 0.25rem;
  box-shadow: none;
  margin: 0.75rem 0;
  padding: 0.5rem 0.75rem;
}
/* nav buttons */
#main ul.navigation.actions {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
}

#main ul.navigation.actions li {
  margin: 0 0 0.5rem;
  padding: 0;
}

#main ul.navigation.actions li a,
#main ul.navigation.actions li form input,
#main ul.navigation.actions li span.current {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  cursor: pointer;
  font: unset;
  font-size: 0.85rem;
  line-height: 1.3;
  margin: 0 0 0 0.5rem;
  padding: 0.5rem 0.75rem;
  white-space: nowrap;
}

#main ul.navigation.actions li a::after,
#main ul.navigation.actions li form input::after {
  margin: -0.25rem 0 0 0.25rem;
}

#main ul.navigation.actions li a::before,
#main ul.navigation.actions li form input::before {
  margin: -0.25rem 0.25rem 0 0;
}
/* work details */
#main .wrapper {
  box-shadow: none;
  margin: 0.75rem 0;
}

/* work preface/notes */
#main #workskin .preface {
  margin: 0 auto;
  padding: 0.5rem 0;

  width: 70ch;
  max-width: 100%;
}

#main #workskin .preface blockquote p {
  font-size: 1rem;
  line-height: 1.5;

  width: unset;
  max-width: 100%;
}

#main #workskin .preface p.jump {
  font-size: 1rem;
  margin: 2.5rem auto 1.5rem;
  text-align: center;
}

#main #workskin .preface p.jump a {
  border-bottom: none;
  text-decoration: underline;
}

/* chapter header */
#main #workskin .preface h3.title {
  display: block;

  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 2rem;
}

#main #workskin .chapter.preface h3.title a {
  border-bottom: none;
  color: inherit;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-style: italic;
  font-weight: bold;
  text-decoration: none;
}

/* work body text */
#main #workskin .userstuff.module {
  margin: 0 auto;
}

#main #workskin #chapters .userstuff p,
#main #workskin #chapters .userstuff blockquote,
#main #workskin #chapters .userstuff span {
  font-family: 'Lucida Grande','Lucida Sans Unicode', Verdana, Helvetica, sans-serif,'GNU Unifont';
  font-size: 1.1rem;
  line-height: 1.5;
  text-align: justify;
  hyphens: auto;

  width: 65ch;
  max-width: 100%;
}

/* feedback section */
#main #feedback {
  margin: 0 auto;
}

/* feedback buttons */
#main #feedback ul.actions {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;

  margin: 0 auto 0.5rem;

  float: unset;
}

#main #feedback ul.actions li {
  margin: 0 0 0.5rem;
  padding: 0;
}

#main #feedback ul.actions li a,
#main #feedback ul.actions li form input,
#main #feedback ul.actions li span.current {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  cursor: pointer;
  font: unset;
  font-size: 0.85rem;
  line-height: 1.3;
  margin: 0 0 0 0.5rem;
  padding: 0.5rem 0.75rem;
  white-space: nowrap;
}

#main #feedback #kudos_message.notice {
  display: block;

  border-radius: 0.25rem;
  box-shadow: none;
  margin: 0.75rem 0;
  padding: 0.5rem 0.75rem;
}

#main #kudos p.kudos {
  font-size: 0.85rem;
}

/* comment box */
#main #feedback #add_comment fieldset {
  border: 1px solid #ccc;
  box-shadow: none;
  margin: 0;
  padding: 2rem;
}

#main #feedback #add_comment fieldset h4 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;

  margin: 0;
}

#main #feedback #add_comment fieldset .byline {
  margin: 0 0 0 0.25rem;
}

#main #feedback #add_comment fieldset p.footnote {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;

  margin: 0;
  padding: 0;
}

#main #feedback #add_comment fieldset p.footnote a {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  margin: 0 0 0 0.25rem;
}

#main #feedback #add_comment fieldset p {
  clear: unset;
  margin: 0 auto;
  padding: 0;
}

#main #feedback #add_comment fieldset p.notice {
  display: block;

  border-radius: 0.25rem;
  box-shadow: none;
  margin: 0.75rem 0;
  padding: 0.5rem 0.75rem;
}

#main #feedback #add_comment fieldset p textarea {
  box-shadow: none;
  box-sizing: border-box;
  margin: 0.5rem 0;
  padding: 0.75rem;
}

#main #feedback #add_comment .LV_validation_message {
  display: none;
}

#main #feedback #add_comment p.submit.actions input {
  cursor: pointer;
  font-size: 0.85rem;
  padding: 0.5rem 0.75rem;
  margin: 0 0 0 0.25rem;
}
/* END ACTUAL WORK PAGE */

/* COMMENTS */
#comments_placeholder ol.thread li.comment {
  /* something maybe */
}

/* header */
#comments_placeholder ol.thread li.comment h4 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  box-sizing: border-box;
  margin: 0;
  padding: 0.5rem 1rem 0.5rem 6rem;

  height: 5rem;
}

#comments_placeholder ol.thread li.comment h4 span.posted.datetime {
  font-size: 0.85rem;
}

#comments_placeholder ol.thread li.comment h4::after {
  content: none;
}

/* comment user icon */
#comments_placeholder ol.thread li.comment .icon {
  border: 1px solid #ddd;
  box-sizing: border-box;

  width: 5rem;
  height: 5rem;
}

#comments_placeholder ol.thread li.comment div.icon {
  border: none;
  margin: -5rem 0.75rem 0 0;
}

/* comment text */
#comments_placeholder ol.thread li.comment .userstuff {
  font-size: 1rem;
  hyphens: auto;
  line-height: 1.5;
  margin: 0;
  padding: 1rem 1rem 0.75rem 1rem;
  text-align: justify;

  min-height: unset;
}

/* comment action buttons */
#comments_placeholder ol.thread li.comment ul.actions {
  margin: 0;
  padding: 0 1rem 0.5rem 0;
}

/* comment pagination actions */
#comments_placeholder ol.pagination {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  margin: 0.5rem 0;
}

#comments_placeholder ol.pagination li {
  margin: 0;
}

#comments_placeholder ol.pagination li a,
#comments_placeholder ol.pagination li form input,
#comments_placeholder ol.pagination li span.current {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  cursor: pointer;
  font: unset;
  font-size: 0.85rem;
  line-height: 1.3;
  margin: 0 0 0 0.5rem;
  padding: 0.5rem 0.75rem;
  white-space: nowrap;
}
/* END COMMENTS */

/* USER PAGES */
/* user profile navigation */
#inner #dashboard {
  border: none;
  border-radius: unset;
  padding: 1rem 0.5rem;

  height: 100%;
}

#inner #dashboard ul.navigation.actions {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: wrap;

  border: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0.5rem;
  text-align: right;

  float: none;

  width: 100%;
}

#inner #dashboard ul.navigation.actions:not(:last-of-type) {
  border-bottom: 2px solid #ddd;
}

#inner #dashboard ul.navigation.actions li {
  display: inline-block;
  margin: 0;
  padding: 0;
}

#inner #dashboard ul.navigation.actions li .current {
  background-color: #900;
  color: white;
}

#inner #dashboard ul.navigation.actions li a,
#inner #dashboard ul.navigation.actions li span {
  display: inline-block;

  box-sizing: border-box;
  font: unset;
  line-height: 1.5;
  margin: 0 0 0.25rem;
  padding: 0.5rem 0.75rem;

  width: 100%;
}

/* user content container */
#main .user.home {
  display: flex;
  flex-direction: column;

  box-sizing: border-box;

  clear: unset;
}

/* user icon */
#main .user.home .primary.header.module p.icon img {
  border-radius: 100%;
}

/* user's fandoms container */
#main #user-fandoms.listbox {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;

  width: 100%;
}

#main #user-fandoms ol.index.group {
  display: flex;
  flex-direction: column;

  padding: 0 0.5rem;

  clear: unset;
  float: none;

  width: 100%;
}

#main #user-fandoms h3.heading {
  margin: 0;
  padding: 0.75rem 1rem;
}

/* user's fandoms list */
#main #user-fandoms ol.index.group {
  padding: 0.5rem 1rem;

  clear: unset;
  float: none;
}

#main #user-fandoms ol.index.group li {
  margin: 0.25rem 0;
}
/* user's recent works container */
#main #user-works.listbox {
  display: flex;
  flex-direction: column;

  box-sizing: border-box;

  width: 100%;
}

#main #user-works ul.index.group {
  display: flex;
  flex-direction: column;

  padding: 0.5rem 1rem;

  clear: unset;
  float: none;
}

#main #user-works h3.heading {
  margin: 0;
  padding: 0.75rem 1rem;
}

/* user's recent works */
#main #user-works ul.index.group li.work.blurb.group {
  box-sizing: border-box;
  margin: 0.5rem 0;
  overflow: none;
  padding: 1.25rem 1.75rem;

  clear: none;
}

#main #user-works ul.index.group .header.module {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  margin: 0 0 0.5rem;

  min-height: 55px;
}

#main #user-works ul.index.group .header.module ul.required-tags {
  width: 55px;
  height: 55px;
}

#main #user-works ul.index.group .header.module h4 {
  border: none;
  font-family: Trebuchet MS, Tahoma, Helvetica, sans-serif;
  font-size: 1rem;
  margin: 0 0 0.25rem 65px;

  max-width: 80%;
}

#main #user-works ul.index.group .header.module h4 a {
  border: none;
  text-decoration: underline;
}

#main #user-works ul.index.group .header.module h5 {
  font-size: 0.75rem;
  margin: 0 0 0 65px;

  max-width: 80%;
}

#main #user-works ul.index.group .datetime {
  font-family: monospace;
  font-size: 0.85rem;
  letter-spacing: 0.015rem;
  text-transform: uppercase;
}

#main #user-works ul.index.group .tag {
  /* border: none; */
  box-sizing: border-box;
  /* text-decoration: underline; */
}

#main #user-works ul.index.group .tags.commas {
  /* background-color: #e2e2e2; */
  background-color: #f0f0f0;
  font-size: 0.85rem;
  line-height: 1.8;
  padding: 0.5rem;
  text-align: justify;
}

#main #user-works ul.index.group .tags .relationships .tag {
  /* background-color: #a8a8a8; */
  background-color: #d5d5d5;
  /* padding: 0.25rem; */
}

#main #user-works ul.index.group .userstuff.summary {
  font-size: 0.95rem;
  margin: 1.75rem 0;
  text-align: justify;

  clear: none;
}

#main #user-works ul.index.group .series {
  font-size: 0.85rem;
  font-weight: bold;
  margin: 0 0 1.75em 0;
  text-transform: uppercase;
}

#main #user-works ul.index.group .series a {
  border: none;
  font-weight: normal;
  text-decoration: underline;
  text-transform: initial;
}

#main #user-works ul.index.group .stats {
  background-color: #f0f0f0;
  font-size: 0.85rem;
  margin: 0;
  padding: 0.5rem;
  text-align: unset;

  float: none;
}

#main #user-works ul.index.group .stats dt {
  font-weight: bold;
  padding: 0;
}

#main #user-works ul.index.group .stats dd {
  padding: 0 0.5 0 0;
}

/* edit buttons on user's works */
#main ul.index.group li.work.own ul.actions {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;

  float: unset;
  padding: 0;
}

#main ul.index.group li.work.own ul.actions li {
  margin: 0 0 0.5rem;
  padding: 0;
}

#main ul.index.group li.work.own ul.actions li a,
#main ul.index.group li.work.own ul.actions li form input,
#main ul.index.group li.work.own ul.actions li span.current {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  cursor: pointer;
  font: unset;
  font-size: 0.85rem;
  line-height: 1.3;
  margin: 0 0.5rem 0 0;
  padding: 0.5rem 0.75rem;
  white-space: nowrap;
}

/* expand works list button */
#main #user-works ul.actions {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;

  float: unset;
  padding: 0.5rem;
}

#main #user-works ul.actions li {
  margin: 0;
  padding: 0;
}

#main #user-works ul.actions li a,
#main #user-works ul.actions li form input,
#main #user-works ul.actions li span.current {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  cursor: pointer;
  font-size: 0.85rem;
  line-height: 1.3;
  margin: 0 0 0 0.5rem;
  padding: 0.5rem 0.75rem;
  white-space: nowrap;
}

/* user drafts */
#main.works-drafts ul.index.group li.work.blurb.group {
  box-sizing: border-box;
  margin: 0.5rem 0;
  overflow: none;
  padding: 1.25rem 1.75rem;

  clear: none;
}

#main.works-drafts ul.index.group .header.module {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  margin: 0 0 0.5rem;

  min-height: 55px;
}

#main.works-drafts ul.index.group .header.module ul.required-tags {
  width: 55px;
  height: 55px;
}

#main.works-drafts ul.index.group .header.module h4 {
  border: none;
  font-family: Trebuchet MS, Tahoma, Helvetica, sans-serif;
  font-size: 1rem;
  margin: 0 0 0.25rem 65px;

  max-width: 80%;
}

#main.works-drafts ul.index.group .header.module h4 a {
  border: none;
  text-decoration: underline;
}

#main.works-drafts ul.index.group .header.module h5 {
  font-size: 0.75rem;
  margin: 0 0 0 65px;

  max-width: 80%;
}

#main.works-drafts ul.index.group .datetime {
  font-family: monospace;
  font-size: 0.85rem;
  letter-spacing: 0.015rem;
  text-transform: uppercase;
}

#main.works-drafts ul.index.group .tag {
  /* border: none; */
  box-sizing: border-box;
  /* text-decoration: underline; */
}

#main.works-drafts ul.index.group .tags.commas {
  /* background-color: #e2e2e2; */
  background-color: #f0f0f0;
  font-size: 0.85rem;
  line-height: 1.8;
  padding: 0.5rem;
  text-align: justify;
}

#main.works-drafts ul.index.group .tags .relationships .tag {
  /* background-color: #a8a8a8; */
  background-color: #d5d5d5;
  /* padding: 0.25rem; */
}

#main.works-drafts ul.index.group .userstuff.summary {
  font-size: 0.95rem;
  margin: 1.75rem 0;
  text-align: justify;

  clear: none;
}

#main.works-drafts ul.index.group .series {
  font-size: 0.85rem;
  font-weight: bold;
  margin: 0 0 1.75em 0;
  text-transform: uppercase;
}

#main.works-drafts ul.index.group .series a {
  border: none;
  font-weight: normal;
  text-decoration: underline;
  text-transform: initial;
}

#main.works-drafts ul.index.group .stats {
  background-color: #f0f0f0;
  font-size: 0.85rem;
  margin: 0;
  padding: 0.5rem;
  text-align: unset;

  float: none;
}

#main.works-drafts ul.index.group .stats dt {
  font-weight: bold;
  padding: 0;
}

#main.works-drafts ul.index.group .stats dd {
  padding: 0 0.5 0 0;
}
/* END USER PAGES */

/* BOOKMARKS PAGE */
/* bookmarks list container */
#main.bookmarks-index ol.bookmark.index.group li.bookmark.blurb.group {
  box-sizing: border-box;
  padding: 1.25rem 1.75rem;
  overflow: none;

  clear: none;
}

/* bookmark/private/rec + number icons */
#main.bookmarks-index ol.bookmark.index.group p.status {
  display: flex;
  justify-content: space-between;

  margin: 0;
  padding: inherit;
  
  top: 0;
  right: 0;

  width: 53px;
}

#main.bookmarks-index ol.bookmark.index.group p.status .count  {
  line-height: 1;
  text-align: center;

  position: unset;
  top: 0;
  left: 0;
}

#main.bookmarks-index ol.bookmark.index.group p.status .count a {
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 0.85rem;
}

/* bookmark container */
#main.bookmarks-index ol.bookmark.index.group .header.module {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  margin: 0 0 0.5rem;

  min-height: 55px;
}

#main.bookmarks-index ol.bookmark.index.group .header.module ul.required-tags {
  width: 55px;
  height: 55px;
}

#main.bookmarks-index ol.bookmark.index.group .header.module h4 {
  border: none;
  font-family: Trebuchet MS, Tahoma, Helvetica, sans-serif;
  font-size: 1rem;
  margin: 0 0 0.25rem 65px;

  max-width: 80%;
}

#main.bookmarks-index ol.bookmark.index.group .header.module h4 a {
  border: none;
  text-decoration: underline;
}

#main.bookmarks-index ol.bookmark.index.group .header.module h5 {
  font-size: 0.75rem;
  margin: 0 0 0 65px;

  max-width: 80%;
}

#main.bookmarks-index ol.bookmark.index.group .datetime {
  font-family: monospace;
  font-size: 0.85rem;
  letter-spacing: 0.015rem;
  text-transform: uppercase;
}

#main.bookmarks-index ol.bookmark.index.group .tag {
  /* border: none; */
  box-sizing: border-box;
  /* text-decoration: underline; */
}

#main.bookmarks-index ol.bookmark.index.group .tags.commas {
  /* background-color: #e2e2e2; */
  background-color: #f0f0f0;
  font-size: 0.85rem;
  line-height: 1.8;
  padding: 0.5rem;
  text-align: justify;
}

#main.bookmarks-index ol.bookmark.index.group .tags .relationships .tag {
  /* background-color: #a8a8a8; */
  background-color: #d5d5d5;
  /* padding: 0.25rem; */
}

#main.bookmark-index ol.bookmark.index.group .userstuff.summary {
  font-size: 0.95rem;
  margin: 1.75rem 0;
  text-align: justify;

  clear: none;
}

#main.bookmarks-index ol.bookmark.index.group .series {
  font-size: 0.85rem;
  font-weight: bold;
  margin: 0 0 1.75em 0;
  text-transform: uppercase;
}

#main.bookmarks-index ol.bookmark.index.group .series a {
  border: none;
  font-weight: normal;
  text-decoration: underline;
  text-transform: initial;
}

#main.bookmarks-index ol.bookmark.index.group .stats {
  background-color: #f0f0f0;
  font-size: 0.85rem;
  margin: 0;
  padding: 0.5rem;
  text-align: unset;

  float: none;
}

#main.bookmarks-index ol.bookmark.index.group .stats dt {
  font-weight: bold;
  padding: 0;
}

#main.bookmarks-index ol.bookmark.index.group .stats dd {
  padding: 0 0.5 0 0;
}

/* bookmark action buttons */
#main .bookmark .own.user.module ul.actions {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;

  float: unset;
  padding: 0;
}

#main .bookmark .own.user.module  ul.actions li {
  margin: 0 0 0.5rem;
  padding: 0;
}

#main .bookmark .own.user.module  ul.actions li a,
#main .bookmark .own.user.module  ul.actions li form input,
#main .bookmark .own.user.module  ul.actions li span.current {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  cursor: pointer;
  font: unset;
  font-size: 0.85rem;
  line-height: 1.3;
  margin: 0 0 0 0.5rem;
  padding: 0.5rem 0.75rem;
  white-space: nowrap;
}
/* END BOOKMARK PAGE */

/* FOOTER */
#footer {
  border: none;
  box-sizing: border-box;
  font-family: Trebuchet MS, Tahoma, Helvetica, sans-serif;
  padding: 1rem 1.5rem;

  float: none;
}

#footer ul.navigation.actions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  box-sizing: border-box;
  font-size: 0.75rem;
  margin: 0 auto;
  padding: 0 1.75rem;

  float: none;
  clear: unset;

  width: 100%;
  max-width: 1270px;
}

#footer ul li.module.group {
  padding: 0;

  float: none;

  width: unset;
  max-width: unset;
}

#footer ul li.module.group h4 {
  font-family: Trebuchet MS, Tahoma, Helvetica, sans-serif;
  text-decoration: underline;
}

#footer ul li.module.group ul.menu li a {
  display: inline-block;

  border: none;
  overflow: hidden;
  text-overflow: ellipsis;
  text-decoration: none;
  white-space: nowrap;

  max-width: 25ch;
}
/* END FOOTER */

/* COLLECTIONS
/* FORMS
/* FILTERS (mobile + tablet)
/* TUNING