html {
  font-size: 16px;

  height: 100%;
}

html,
body,
a,
h1,
h2,
h3,
h4,
h5,
p,
span {
  font-family: Trebuchet MS, Tahoma, Helvetica, sans-serif;
}

/* CONTAINER */
#outer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  
  box-sizing: border-box;

  float: none;

  min-height: 100%;
}

/* HEADER */
#header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;

  font-size: 1rem;

  /* resets */
  margin: 0;
  padding: 0;

  width: 100%;
}

#header .heading {
  padding: 1rem 0rem 1rem 1.5rem;

  float: none;
}

/* ao3 brand */
#header .heading a {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#header .heading img.logo {
  order: -1;

  float: none;

  height: 1.5rem;
}

#header .heading a span,
#header .heading a sup {
  display: none;
}

/* account info */
#header .clear,
#header .landmark,
#header #greeting .landmark {
  display: none;
}

#greeting {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /*   gap: 0.2rem; */

  margin: 0;

  float: none;
}

#greeting ul.navigation.actions {
  font-size: 0.95rem;
  padding: 0 0.75rem 0 0.25rem;

  float: none;
}

#greeting p.icon {
  order: -1;

  padding: 0;

  float: none;
}

#greeting p.icon a {
  display: flex;
  align-items: center;
}

#greeting img.icon {
  border-radius: 100%;

  height: 1.5rem;
  width: 1.5rem;
}

/* buttons */
#greeting ul.navigation.actions li {
  margin: 0 0.15rem;
}

#greeting ul.navigation.actions li:last-of-type {
  margin: 0 0 0 0.15rem;
}

#greeting ul.navigation.actions a {
  border-radius: 0.25rem;
  margin: 0;
  overflow: hidden;
  padding: 0.5rem 0.75rem;
  text-overflow: ellipsis;
  white-space: nowrap;

  max-width: 25vw;
}

#greeting ul.navigation.actions a.dropdown-toggle {
  border-radius: 0.25rem 0.25rem 0 0;
}

#greeting ul.navigation.actions ul.dropdown-menu li a {
  max-width: unset;
}

/* user dropdowns */
#greeting ul li ul.menu.dropdown-menu {
  border-radius: 0 0 0.25rem 0.25rem;
  margin: 0;
  padding: 0;

  width: 100%;
}

#greeting ul li ul.menu.dropdown-menu li {
  margin: 0;
  padding: 0;
}

#greeting ul li ul.menu.dropdown-menu li a {
  margin: 0;
  padding: 0.75rem 1rem;

  transition: background-color 0.1s ease-in-out, color 0.2s ease-in-out;
}

#greeting ul li ul.menu.dropdown-menu li a:hover {
  transition: background-color 0.1s ease-in-out, color 0.2s ease-in-out;
}

/* nav bar */
#header ul.primary.navigation.actions {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;

  font-size: 0.95rem;
  padding: 0.5rem 0.75rem;

  height: unset;
}

#header ul.primary.navigation.actions li.dropdown,
#header ul.primary.navigation.actions li.search {
  display: inline;

  margin: 0;

  float: none;
}

/* dropdowns */
#header .primary.navigation.actions li.dropdown a {
  border-radius: 0.25rem 0.25rem 0 0;
  padding: 0.5rem 0.75rem;
  margin: 0;
}

#header .primary.navigation.actions li.dropdown ul {
  border-radius: 0 0 0.25rem 0.25rem;
  margin: 0;
  padding: 0;

  width: 100%;
}

#header .primary.navigation.actions li.dropdown ul.dropdown-menu li {
  margin: 0;
}

#header .primary.navigation.actions li.dropdown ul.dropdown-menu li a {
  margin: 0;
  padding: 0.75rem 1rem;

  transition: background-color 0.1s ease-in-out, color 0.2s ease-in-out;
}

#header .primary.navigation.actions li.dropdown ul.dropdown-menu li a:hover {
  transition: background-color 0.1s ease-in-out, color 0.2s ease-in-out;
}

/* search bar */
#header ul.primary.navigation.actions li.search {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex: 1 1 0;
}

#header ul.primary.navigation.actions li.search form {
  float: none;
  margin: 0.5rem 0;
  padding: 0 0.5rem;

  width: 100%;
}

#header ul.primary.navigation.actions li.search form fieldset {
  width: 100%;
}

#header ul.primary.navigation.actions li.search form fieldset p {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  width: 100%;
}

#header ul.primary.navigation.actions li.search form input#site_search {
  flex: 1 1 0;

  padding: 0.5rem;
}

/* search bar button */
#header ul.primary.navigation.actions li.search span.submit input.button {
  margin: 0 0 0 1rem !important;
  padding: 0.5rem 0.75rem;
}
/* END HEADER */

/* INNER */
#inner {
  flex: 1 1 0;

  box-sizing: border-box;

  width: 100%;
}

#inner #main {
  box-sizing: border-box;
  font-size: 1rem;
  line-height: 1.5;
  margin: 0 auto;
  padding: 1rem 1rem;

  position: relative;

  max-width: 1270px;
  min-height: unset;
}
/* END INNER */

/* HOME PAGE */
#inner #main .splash {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  /*   gap: 1rem; */

  margin: 0 auto;

  max-width: unset;
}

#inner #main .splash div.module {
  margin: 1rem 0 1.5rem;

  float: none;

  width: 100%;
}
/* module headers */
#inner #main .splash div h3 {
  display: flex;
  justify-content: space-between;
  align-items: center;

  box-sizing: border-box;
  font-family: Trebuchet MS, Tahoma, Helvetica, sans-serif;
  margin: 0 0 0.75rem;
  padding: 0 0 0.5rem;
  text-transform: capitalize;

  height: 2.25rem;
}

/* "find your favorites" module */
#inner #main .favorite.module {
  order: 0;
}

#inner #main .favorite.module ul li a {
  padding: 0.5rem;
}

/* "news" module */
#inner #main .latest.news.module h3 .link {
  display: flex;

  border-bottom: unset;

  float: unset;
}

/* "all news" button */
#inner #main .latest.news.module {
  order: 2;
}

#inner #main .latest.news.module h3 .link a {
  background-color: #900;
  border: none;
  border-radius: 0.25rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 3px -1px,rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  box-sizing: border-box;
  color: white;
  font-size: 0.95rem;
  padding: 0.5rem 0.75rem;
  text-decoration: none;
}

/* news posts */
#inner #main .latest.news.module li.post.group {
  margin: 1rem 0;
}

#inner #main .latest.news.module li.post.group:last-of-type {
  margin: 0;
}

#inner #main .latest.news.module li.post.group .header.module {
  margin: 0 0 0.25rem;

  float: none;
}

#inner #main .latest.news.module li.post.group .header.module h4 {
  font-size: 1rem;
  line-height: 1.2;
  margin: 0 0 0.25rem;
}

#inner #main .latest.news.module li.post.group .userstuff p {
  hyphens: auto;
  line-height: 1.5;
  text-align: justify;
}

/* "unread messages" module */
#inner #main .latest.messages {
  order: 1;
}

#inner #main .latest.messages h3 .link {
  display: flex;

  border-bottom: unset;

  float: unset;
}

/* "my inbox" button */
#inner #main .latest.messages h3 .link a {
  background-color: #900;
  border: none;
  border-radius: 0.25rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 3px -1px,rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  box-sizing: border-box;
  color: white;
  font-size: 0.95rem;
  padding: 0.5rem 0.75rem;
  text-decoration: none;
}

/* comment heading */
#inner #main .latest.messages li.comment.group h4 {
  display: flex;
  align-items: center;

  font-family: Trebuchet MS, Tahoma, Helvetica, sans-serif;
  font-size: 0.85rem;
  margin: 0;
  padding: 1.5rem 1rem 1.5rem 4.5rem;
}

#inner #main .latest.messages li.comment.group h4 a {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  border: none;
  text-decoration: underline;

  margin: 0 0.25rem;

  max-width: 25%;
}

#inner #main .latest.messages li.comment.group h4 a:last-of-type {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  font-style: italic;
  margin: 0 0 0 0.25rem;

  max-width: 50%;
}

#inner #main .latest.messages li.comment.group h4 .posted.datetime {
  flex: 1 1 0;

  font-size: 0.75rem;
  text-align: right;

  min-width: max-content;
}

/* comment user icon */
#inner #main .latest.messages li.comment.group .icon {
  border-bottom: none;
  margin: 0;

  width: unset;
  height: unset;
}

#inner #main .latest.messages li.comment.group .icon img {
  border-radius: 100%;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;

  position: absolute;
  top: 0.45rem;
  left: 1rem;

  width: 3rem;
  height: 3rem;
}

/* comment text */
#inner #main .latest.messages li.comment.group .userstuff {
  font-size: 0.95rem;
  hyphens: auto;
  line-height: 1.5;
  text-align: justify;
  margin: 0;
  padding: 1rem;
}

/* comment editted date */
#comments_placeholder ol.thread li.comment p.edited {
  font-size: 0.85rem;
  hyphens: auto;
  line-height: 1.5;
  margin: 0;
  padding: 1rem 1rem 0.75rem 1rem;
  text-align: justify;
}

/* comment action buttons */
#inner #main .latest.messages li.comment.group .actions {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  /*   gap: 0.2rem; */

  margin: 0;
  padding: 0 1rem 1rem 0;
}

#inner #main .latest.messages li.comment.group .actions li a,
#inner #main .latest.messages li.comment.group .actions li form input {
  cursor: pointer;
  font-size: 0.85rem;
  padding: 0.5rem 0.75rem;
  margin: 0 0 0 0.25rem;
}

/* "follow us" module */
#inner #main .social.module {
  order: 3;
}

#inner #main .social.module p {
  hyphens: auto;
  line-height: 1.5;
  text-align: justify;
}

#inner #main .social.module ul li {
  margin: 0;
}

#inner #main .social.module ul li .resp-sharing-button {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /*   gap: 0.2rem; */

  margin: 0;

  width: unset;
}

#inner #main .social.module ul li .resp-sharing-button .resp-sharing-button__icon {
  display: flex;
  align-items: center;
  margin: 0;

  max-width: fit-content;
}
/* END HOME PAGE */

/* USER'S INBOX */
#main.inbox-show fieldset.comments li.comment.group h4 a:last-of-type {
  max-width: 50%;
}
/* END USER'S INBOX */

/* WORKS INDEX */
#main.works-index ol.work.index.group .header.module h4 {
  font-size: 0.85rem;
}

#main.works-index ol.work.index.group .header.module h4 a:first-of-type {
  display: block;

  font-size: 1rem;
  margin: 0 0 0.25rem;

  max-width: 70%;
}

#main.works-index ol.work.index.group .datetime {
  font-size: 0.65rem;
}

#main.works-index ol.work.index.group .tags.commas {
  text-align: unset;
}
/* END WORKS INDEX */

/* SERIES INDEX */
#main.series-index ul.series.index.group .header.module h4 {
  font-size: 0.85rem;
}

#main.series-index ul.series.index.group .header.module h4 a:first-of-type {
  display: block;

  font-size: 1rem;
  margin: 0 0 0.25rem;

  max-width: 70%;
}

#main.series-index ul.series.index.group .datetime {
  font-size: 0.65rem;
}

#main.series-index ul.series.index.group .tags.commas {
  text-align: unset;
}
/* END SERIES INDEX */

/* BOOKMARKS INDEX */
#main.bookmarks-index ol.bookmark.index.group li.bookmark.blurb.group .header.module h4 {
  font-size: 0.85rem;
}

#main.bookmarks-index ol.bookmark.index.group .header.module h4 a:first-of-type {
  display: block;

  font-size: 1rem;
  margin: 0 0 0.25rem;

  max-width: 70%;
}

#main.bookmarks-index ol.bookmark.index.group .datetime {
  font-size: 0.65rem;
}

#main.bookmarks-index ol.bookmark .tags.commas {
  text-align: unset;
}

#main.bookmarks-index ol.bookmark li.bookmark.blurb.group .user.module.group h5 {
  margin: 1rem 0 0;
}
/* END BOOKMARKS INDEX */

/* DRAFTS INDEX */
#main.works-drafts ul.index.group li.work.blurb.group .header.module h4 a:first-of-type {
  display: block;

  font-size: 1rem;
  margin: 0 0 0.25rem;

  max-width: 70%;
}

#main.works-drafts ul.index.group li.work.blurb.group .header.module h4 {
  font-size: 0.85rem;
}

#main.works-drafts ul.index.group li.work.blurb.group .header.module h4a:first-of-type {
  display: block;

  font-size: 1rem;
  margin: 0 0 0.25rem;

  max-width: 70%;
}

#main.works-drafts ul.index.group li.work.blurb.group .datetime {
  font-size: 0.65rem;
}

#main.works-drafts ul.index.group li.work.blurb.group .tags.commas {
  text-align: unset;
}

#main.works-drafts ul.index.group li.work.blurb.group .user.module.group h5 {
  margin: 1rem 0 0;
}
/* END DRAFTS INDEX */

/* ACTUAL WORK PAGE */
#main #workskin #chapters .userstuff p,
#main #workskin #chapters .userstuff blockquote,
#main #workskin #chapters .userstuff span {
  font-size: 1.05rem;
  line-height: 1.5;
}

/* action buttons */
#main ul.navigation.actions {
  justify-content: center;
}

/* feedback buttons */
#main #feedback ul.actions {
  justify-content: flex-end;
}

#main #feedback #add_comment fieldset p.footnote {
  margin: 0.5rem 0 0;
}

/* comment box */
#main #feedback #add_comment fieldset {
  padding: 1rem;
}

/* comments */
#comments_placeholder ol.thread li.comment h4 {
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

  padding: 0.25rem 0.5rem 0.25rem 5.5rem;
}

/* comment actions */
#comments_placeholder ol.thread li.comment ul.actions {
  justify-content: flex-end;
}

/* guest comment */
#comments_placeholder ol.thread li.comment.guest div.icon span.visitor.icon {
  background: url('/images/skins/iconsets/default/icon_user.png');
  background-size: contain;
}

#comments_placeholder ol.thread li.comment.guest h4 .role {
  font-size: 0.85rem;
  padding: 0.5rem 0.5rem;

  position: absolute;
  top: 0;
  right: 0;

}
/* END ACTUAL WORK PAGE */

/* USER PAGES */
/* user profile navigation */
#inner #dashboard {
  display: block;

  border-bottom: 0.5rem solid #900;
  border-top: 0.5rem solid #900;
  border-radius: 0.25rem;
  box-sizing: border-box;
  margin: 0.5rem 1rem;
  padding: 0.5rem 0;

  height: unset;
}

#inner #dashboard ul.navigation.actions {
  display: unset;

  box-sizing: border-box;
  margin: 0;
  padding: unset;

  float: none;

  width: 100%;
}

#inner #dashboard ul.navigation.actions:not(:last-of-type) {
  border-bottom: unset;
}

#inner #dashboard ul.navigation.actions li {
  display: inline-block;
  margin: 0;
  padding: 0;
}

#inner #dashboard ul.navigation.actions li .current {
  background-color: #900;
  color: white;
}

#inner #dashboard ul.navigation.actions li a,
#inner #dashboard ul.navigation.actions li span {
  display: inline-block;

  font: unset;
  line-height: 1.5;
  margin: 0;
  padding: 0.5rem 0.75rem;
}

/* user dashboard header */
#main .user.home .primary.header.module {
  margin: 0;

  clear: unset;
  float: none;

  min-height: unset;
}

/* user name */
#main .user.home .primary.header.module h2 {
  font-size: 24px;
  margin: 15px 0 1rem 100px;
}

/* user actions */
#main .user.home .primary.header.module ul.navigation.actions {
  justify-content: flex-end;
  max-width: 80%;
}

#main .user.home .primary.header.module ul.navigation.actions li {
  margin: 0 0 0.5rem;
}

/* user works container */
#main #user-works ul.index.group {
  padding: 0.5rem 0.75rem;
}

/* user work */
#main #user-works ul.index.group li.work.blurb.group {
 padding: 1.2rem;
}

#main #user-works ul.index.group .header.module h4 {
  font-size: 0.85rem;
}

#main #user-works ul.index.group .header.module h4 a:first-of-type {
  display: block;

  font-size: 1rem;
  margin: 0 0 0.25rem;

  max-width: 65%;
}

#main #user-works ul.index.group .datetime {
  font-size: 0.65rem;
}

#main #user-works ul.index.group .tags.commas {
  text-align: unset;
}

#main #user-works ul.index.group li blockquote.summary blockquote {
  margin: 0 0.5rem;
}

/* user's works buttons */
#main #user-works ul.index.group li.work.own ul.actions {
  justify-content: flex-end;
}

#main #user-works ul.index.group li.work.own ul.actions li a, 
#main #user-works ul.index.group li.work.own ul.actions li form input {
  margin: 0 0 0 0.5rem;
}

/* user's recent series container */
#main #user-series ol.index.group {
  padding: 0.5rem 0.75rem;
}

/* user's recent series */
#main #user-series ol.index.group li.series.blurb.group {
 padding: 1.2rem;
}

#main #user-series ol.index.group .header.module h4 {
  font-size: 0.85rem;
}

#main #user-series ol.index.group .header.module h4 a:first-of-type {
  display: block;

  font-size: 1rem;
  margin: 0 0 0.25rem;

  max-width: 65%;
}

#main #user-series ol.index.group .datetime {
  font-size: 0.65rem;
}

#main #user-series ol.index.group .tags.commas {
  text-align: unset;
}

#main #user-series ol.index.group li blockquote.summary blockquote {
  margin: 0 0.5rem;
}

/* user's recent bookmarks container */
#main #user-bookmarks ol.index.group {
  padding: 0.5rem 0.75rem;
}

/* user's recent bookmrks */
#main #user-bookmarks ol.index.group li.bookmark.blurb.group {
 padding: 1.2rem;
}

#main #user-bookmarks ol.index.group .header.module h4 {
  font-size: 0.85rem;
}

#main #user-bookmarks ol.index.group .header.module h4 a:first-of-type {
  display: block;

  font-size: 1rem;
  margin: 0 0 0.25rem;

  max-width: 65%;
}

#main #user-bookmarks ol.index.group .datetime {
  font-size: 0.65rem;
}

#main #user-bookmarks ol.index.group .tags.commas {
  text-align: unset;
}

#main #user-bookmarks ol.index.group li blockquote.summary blockquote {
  margin: 0 0.5rem;
}

#main #user-bookmarks li.bookmark.blurb.group .user.module.group h5 {
  margin: 0.75rem 0 0;
}
/* END USER PAGE */

/* FOOTER */
#footer {
  border: none;
  box-sizing: border-box;
  font-family: Trebuchet MS, Tahoma, Helvetica, sans-serif;
  padding: 1rem 1.5rem;

  float: none;
}

#footer ul.navigation.actions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;

  font-size: 0.75rem;
  margin: 0 auto;
  padding: 0;

  float: none;
  clear: unset;

  width: 100%;
  max-width: 1270px;
}

#footer ul li.module.group {
  padding: 0;

  float: none;

  width: 40%;
  max-width: 40%;
}

#footer ul li.module.group h4 {
  font-family: Trebuchet MS, Tahoma, Helvetica, sans-serif;
  text-decoration: underline;
}

#footer ul li.module.group ul.menu li a {
  display: inline-block;

  border: none;
  overflow: hidden;
  text-overflow: ellipsis;
  text-decoration: none;
  white-space: nowrap;

  max-width: 25ch;
}
/* END FOOTER */
